.flex-content{
    display: flex;
    width: 1250px;
    flex-wrap: wrap;
    justify-content: center;
}
.block-content{
    margin-right: 50px;
    margin-bottom: 50px;
}
.image-cart{
    height: 40px;
    width: 50px;
}
.starButton{
    background: inherit;
    font-size: 18px;
    cursor: pointer;
  }
  
  .notebook-price{
      color:red;
      font-size: 20px;
  }